.best-seller .inner {
  position: relative;
}
.bestseller-info {
  position: absolute;
  bottom: 88px;
  left: 168px;
  z-index: 999;
}
.bestseller-title {
  margin: 0;
  padding: 0;

  color: #212221;
  font-size: 32px;
  font-weight: 600;
}
.bestseller-desc {
  padding-top: 20px;
  line-height: 25px;
  color: #737673;
  font-size: 18px;
}
.beatseller-bt {
  width: 114px;
  height: 39px;
  padding: 10px 20px;
  border: 1.5px solid #212221;

  font-size: 14px;
  display: inline-block;
  margin-top: 30px;
  box-sizing: border-box;
}
