.wrap .carousel {
  margin-top: 0;
  padding: 0;
  position: relative;
}
.carousel .wrapper {
  position: relative;
}
.sw-carousel {
  width: 100%;
  height: auto;
}
.carousel .sw-btn {
  background-image: url("/images/carousel_btn.png");
}
.carousel .swiper-slide a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel picture > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-info {
  z-index: 99;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;

  color: #fff;
  text-align: left;
  line-height: 1.5;
  word-spacing: 0.5px;
}
.slide-info .inner {
  padding-bottom: 8%;
}
@media screen and (max-width: 1660px) {
  .slide-info .inner {
    padding-left: 130px;
    padding-bottom: 9%;
  }
}
.slide-info p:first-child {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: -0.45px;
}
.slide-info p:last-child {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.9px;
}
@media screen and (max-width: 1024px) {
  .slide-info .inner {
    padding-left: 7.2%;
    padding-bottom: 9.5%;
  }
  .slide-info p:first-child {
    font-size: 14px;
  }
  .slide-info p:last-child {
    font-size: 28px;
  }
}

.carousel .pagination-container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 11px;
  margin-bottom: 90px;
  z-index: 9;

  transform: translateX(-50%);
}
.carousel .pagination-container .swiper-pagination {
  width: 420px;
  position: relative;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}
.carousel .pagination-container .slide-control {
  width: 9px;
  height: 11px;
  background: url("../../images/carousel_stop.png") no-repeat center;
  background-size: contain;
  margin-left: 13px;
}
.carousel .pagination-container .swiper-pagination-progressbar-fill {
  background: #fff;
}
@media screen and (max-width: 1660px) {
  .carousel .pagination-container {
    padding-left: 130px;
    margin-bottom: 4.6%;
  }
}
@media screen and (max-width: 1660px) {
  .carousel .pagination-container {
    padding-left: 7.2%;
    margin-bottom: 5.4%;
  }
  .carousel .pagination-container .swiper-pagination {
    width: 300px;
    height: 3px;
  }
  .carousel .pagination-container .slide-control {
    width: 6px;
    height: 8px;
  }
}
