.carousel .wrapper {
  position: relative;
}
.sw-carousel {
  width: 100%;
  /* height: 100%; */
  height: auto;
}
.carousel .sw-btn {
  width: 68px;
  height: 68px;
  background-image: url("/images/carousel_btn.png");
}
.carousel .swiper-slide a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel picture > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
