@media (max-width: 720px) {
  .wrap > section.recommend {
    margin-top: 35px;
  }
}
.recommend .section-slide {
  position: relative;
}

.recommend .sw-btn {
  background-image: url("../../images/carousel_btn.png");
  transform: translateY(-125%);
}
@media screen and (max-width: 1024px) {
  .recommend .sw-btn {
    background-image: url("../../images/recommend_btn.png");
  }
}
@media screen and (max-width: 720px) {
  .recommend .sw-btn {
    width: 35px;
    height: 35px;
  }
}
.recommend .sw-prev {
  transform: translateY(-125%) rotate(180deg);
}

.sw-recommend .swiper-slide {
  width: calc(100% / 3);
  height: auto;
}
.sw-recommend .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.goods-info {
  margin-top: 23px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.5px;
}
.goods-info-title {
  font-size: 20px;
  font-weight: 700;
}
.goods-info-desc {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  padding: 2px 0 14px;
}
.goods-info-price {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.4px;
}
@media screen and (max-width: 1024px) {
  .goods-info {
    margin-top: 16px;
  }
  .goods-info-title {
    font-size: 16px;
  }
  .goods-info-desc {
    font-size: 12px;
    padding: 0 0 11px;
  }
  .goods-info-price {
    font-size: 12px;
  }
}
@media screen and (max-width: 720px) {
  .goods-info {
    margin-top: 23px;
  }
  .goods-info-desc {
    font-size: 13px;
    padding: 2px 0 10px;
    letter-spacing: -0.325px;
  }
  .goods-info-price {
    font-size: 13px;
  }
}
/* progress */
.recommend .pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11px;
  margin: 56px auto 0;
}
.recommend .pagination-wrapper .swiper-pagination {
  width: 420px;
  height: 4px;
  position: relative;
  left: 0;
  background: #ddd;
}
.recommend .pagination-wrapper .sw-stop {
  width: 9px;
  height: 11px;
  background: url("../../images/stop.png") no-repeat center;
  background-size: contain;
  opacity: 0.5;
  margin-left: 12px;
}
.recommend .pagination-wrapper .swiper-pagination-progressbar-fill {
  background: #000;
}
@media screen and (max-width: 1024px) {
  .recommend .pagination-wrapper {
    margin-top: 30px;
  }
  .recommend .pagination-wrapper .swiper-pagination {
    width: 300px;
    height: 3px;
  }
  .recommend .pagination-wrapper .sw-stop {
    width: 6px;
    height: 7px;
  }
}
@media screen and (max-width: 720px) {
  .recommend .pagination-wrapper .swiper-pagination {
    width: 100%;
    height: 3px;
  }
  .recommend .pagination-wrapper .sw-stop {
    width: 8px;
    height: 10px;
  }
}
