.recommend .section-title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.7px;
  padding-bottom: 20px;
  line-height: 1.5;
  /* 공통클래스로 빼둔 부분이니까 나중에 브랜치 합칠 때 지우면 됨 
	    근데 line-height는 다시 줘야될듯 */
}
.recommend .section-slide {
  position: relative;
}

.recommend .sw-btn {
  width: 68px;
  height: 68px;
  background-image: url("/images/carousel_btn.png");
  transform: translateY(-100%);
}
.recommend .sw-prev {
  transform: translateY(-100%) rotate(180deg);
}
.goods-info {
  margin-top: 23px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.5px;
}
.goods-info-title {
  font-size: 20px;
  font-weight: 700;
}
.goods-info-desc {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  padding: 2px 0 14px;
}
.good-info-price {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.4px;
}
/* progress */
.recommend .pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11px;
  margin: 56px auto 0;
}
.recommend .pagination-wrapper .swiper-pagination {
  width: 420px;
  height: 4px;
  position: relative;
  left: 0;
  background: #ddd;
}
.recommend .pagination-wrapper .sw-stop {
  width: 9px;
  height: 11px;
  background: url("../../images/stop.png") no-repeat center;
  background-size: contain;
  opacity: 0.5;
  margin-left: 12px;
}
.recommend .pagination-wrapper .swiper-pagination-progressbar-fill {
  background: #000;
}
