.season-title {
  font-family: "Theinhardt", "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.7px;
  line-height: 30px;
  padding-bottom: 20px;
}
.season-link {
  display: flex;
  justify-content: space-between;
}
.season-serum {
  display: block;
  width: 342px;
  height: 522px;
  background: #ededed;
}
.season-link > a > img {
  width: 100%;
  padding: 11px;
}
.season-info-serum {
margin-top: 40px;
text-align: center;
}
.season-title{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
  padding-bottom: 3px;
 
}
.season-desc {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  letter-spacing: -0.4px;
  padding-bottom: 15px;
}
.season-cost {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 24px;
}
.season-duo {
  position: relative;
  width: 708px;
  height: 522px;
}
.season-duo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.season-info-duo{
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
  margin-left: 62px;
  line-height: 27px;
}
.season-duo-title{
font-size: 24px;
font-weight: 700;
letter-spacing: -0.6px;
padding-bottom: 3px;

}
.season-duo-desc{
font-size: 16px;
font-weight: 400;
color: #666;
padding-top: 7px;
}

.season-cream {
  width: 342px;
  height: 522px;
  background: #ededed;
}
.sesason-info-cream {
margin-top: 40px;
text-align: center;
}