.season-link {
  display: flex;
  justify-content: space-between;
}
.serum {
  display: block;
  width: 23.75%;
  height: 36.25vw;
  background: #ededed;
  max-height: 522px;
  overflow: hidden;
}
.season-link > a > img {
  width: 100%;
  padding: 11px;
}
.info-serum {
  margin-top: 40px;
  text-align: center;
}
.season-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
  padding-bottom: 3px;
}
.season-desc {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  letter-spacing: -0.4px;
  padding-bottom: 15px;
}
.season-cost {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 24px;
}
.duo {
  position: relative;
  width: 49.16%;
  height: 36.25vw;
  max-height: 522px;
  overflow: hidden;
}
.duo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-duo {
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
  margin-left: 62px;
  line-height: 27px;
}
.duo-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.6px;
  padding-bottom: 3px;
}
.duo-desc {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  padding-top: 7px;
}
.cream {
  position: relative;
  width: 23.75%;
  height: 36.25vw;
  max-height: 522px;
  background: #ededed;
  overflow: hidden;
}
.info-cream {
  position: absolute;
  bottom: 55px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .season .inner {
    margin-top: 85px !important;
  }
}
@media (max-width: 720px) {
  .season .inner {
    margin-top: 70px !important;
  }
  .season-link {
    flex-wrap: wrap;
  }
  .serum {
    width: calc(50% - 5px);
    height: 68.627vw;
    order: 1;
  }
  .duo {
    width: 100%;
    height: 88.235vw;
    order: 0;
    margin-bottom: 10px;
  }
  .cream {
    width: calc(50% - 5px);
    height: 68.627vw;
    order: 2;
  }
}
