.service .inner {
  padding-top: 45px;
}
.service-wrap {
  display: flex;
  justify-content: space-around;
}
.service-package {
  width: calc(50% - 15px);
  text-align: center;
}
.service-info {
  position: relative;
  display: block;
}
.service-img {
  position: relative;
  display: block;
  height: 38.88vw;
  max-height: 560px;
  overflow: hidden;
}
.service-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  height: 100%;
}
.service-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 14px;
}
.sercice-btn {
  padding: 9px 33px;
  border: 1px solid #000;
  font-size: 14px;
  background: transparent;
  font-weight: 500;
  font-family: "Theinhardt", "Noto Sans KR", sans-serif;
  letter-spacing: -0.7px;
}
.sercice-btn:hover {
  background: rgb(255, 104, 3);
  color: #fff;
  border: #fff;
}
@media (max-width: 1024px) {
  .service-title {
    font-size: 20px;
    margin: 16px 0 10px 0;
  }
  .sercice-btn {
    font-size: 10px;
    padding: 5.6375px 21.155px;
  }
}
@media (max-width: 720px) {
  .service-wrap {
    flex-wrap: wrap;
    gap: 30px;
  }

  .service-package {
    width: 100%;
  }

  .service-img {
    height: 84.313vw;
  }
  .service-title {
    font-size: 22px;
    margin: 22px 0 10px 0;
  }
  .sercice-btn {
    font-size: 11px;
    padding: 6px 20px;
    border: 1px solid #666;
  }
}
